.top-bar {
  background: linear-gradient(to right, rgba(48, 46, 36, 1), rgba(40, 49, 62, 1));
  margin-bottom: 0;
}

.menu-item {
  margin: 0 5px;
  padding: 15px 30px;
}

.link-menu {
  text-decoration: none;
  text-transform: none;
  color: #ffffff;

  &:hover {
    text-transform: none;
    text-decoration: none;
    color: #cccccc;
  }
}

.link-active {
  border-bottom: 2px solid rgb(100, 218, 251);
  background-color: rgba(0, 0, 0, 0.1);
}

.search-box {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 5px;

}
.drop-menu-wrapper{
  cursor: default;
  &:hover{
    .drop-menu{
      display: block;
    }
  }
}

.drop-menu{
  right: 0;
  display: none;
}
.drop-menu-item{
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(40, 49, 62, 1);
  border-bottom: 2px solid rgb(100, 218, 251);
  &:hover{
    color: #dfa612;
    text-decoration: none;
  }
}
.list-tablet {
  display: none;
}

@media only screen and (max-width: 1180px) {
  .list-desktop {
    display: none;
  }
  .list-tablet {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .brand-text{
    display: none;
  }
  .list-tablet > div {
    flex-direction: row !important;
  }
}