
.dou-line-before{
  position: relative;
  overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 50%;
    width: 23%;
    left: 0;
    transform: translateY(-50%);
  }
}
.dou-line-after{
  position: relative;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 50%;
    width: 23%;
    right: 0;
    transform: translateY(-50%);
  }
}