@import '~font-awesome/css/font-awesome.css';
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
// Style Components
@import './components/Header';
@import './components/NotFound';
@import './components/Admin';
// Variables
@import './scss/class';
// Color
@import "./scss/color";

// Default color text
h1, h2, h3, h4, h5, h6, p {
  color: #ffffff;
}

label{
  color: #ffffff;
}

li {
  color: #ffffff;
}

// Important Class
.main-body {
  background-color: rgb(34, 40, 49);
  height: 100%;
  min-height: 100vh;
  padding-top: 60px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}