.card-box {
  background: rgba(26, 29, 36, 1);
  border-radius: 5px;
  display: inline-block;
  height: 300px;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(78, 78, 78, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    transform: translateY(-7px);
  }
}

.img-cover {
  object-fit: cover;
}

.heading-thumb-post {
  font-size: 1.4em;
  color: rgba(223, 166, 18, 1);
  text-align: center;
  font-weight: 300;
  margin: 0;
}

.new-post {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 15px;
    background-color: #dfa612;
    top: 0;
    left: -25px;
    transform: rotate(-45deg);
    transform-origin: top center;
  }
}

.link-none-style {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.box-wrapper {
  margin: 0 auto;
  max-width: 680px;
}

.m-0-auto {
  margin: 0 auto;
}

.div-line-text {
  display: table;
  white-space: nowrap;

  &:before, &:after {
    border-top: 1px solid #ffffff;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }

  &:before {
    right: 1.5%;
  }

  &:after {
    left: 1.5%;
  }
}